<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <app-marca></app-marca>
    </div>
    <div class="row">
        <app-sobre></app-sobre>
    </div>
    <div class="row">
        <app-historico></app-historico>
    </div>
    <div class="row">
        <app-ferramentas></app-ferramentas>
    </div>
    <!-- <div class="row">
        <app-integracoes></app-integracoes>
    </div> -->
    <div class="row">
        <app-graficos></app-graficos>
    </div>
    <div class="row">
        <app-contato></app-contato>
    </div>
    <div class="row">
        <app-rodape></app-rodape>
    </div>
</div>