<section class="graficos">
<div class="container-fluid h-100">
    <div class="row align-items-center h-100">
        <div class="card col-md-10 offset-md-1 mx-auto">
            <div class="card-body">
                <h2 class="card-title">Seguem alguns gráficos bacanas:</h2>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <app-torta></app-torta>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <app-linha></app-linha>
                        </div>
                        <div class="row">
                            <app-barra></app-barra>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>