:host { 
    width: 100%;
}
.ferramentas{
    background: url("src/assets/pexels-photo-889929.jpeg");
    width:100%;
    min-height: 130vh; 
    padding-top:15vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
h2{
    padding-bottom: 10vh
}
