<section class="historico">
        <div class="container-fluid h-100">
                <div class="row align-items-center h-100">
                  <div class="card col-md-10 offset-md-1 mx-auto">
                    <div class="card-body">
                      <h2 class="card-title">Meu Interesse por tecnologia data de 2013, quando estourou a polêmica do Caso Snowden.</h2>
                        <hr>
                        <div class="mx-auto text-center">
                            <iframe width="80%" height="350" src="https://www.youtube.com/embed/kgfs5q0ZzBM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <br>
                        <p>Isso me fez querer entender como a web funciona, a saber como programas e sistemas foram criados, e assim iniciei minha procura. Desde então, venho aprendendo e me aprimorando como desenvolvedor Web, e conheci algumas ferramentas interessantes no caminho.</p>
                    </div>
                  </div>
                </div>
              </div>
</section>