<section class="sobre">
  <div class="container-fluid h-100">
    <div class="row align-items-center h-100">
      <div class="card col-md-10 offset-md-1 mx-auto">
        <div class="card-body">
          <h2 class="card-title">Meu nome é Gabriel Augusto, muito prazer.</h2>
          <hr>
          <p class="card-text">Trabalho há 2 anos na área de desenvolvimento de sistemas para Web, lidando todos os dias com novos desafios.</p>
          <p class="card-text">Ao longo desses anos, aprendi a desenvolver sistemas utilizando linguagens e conceitos diversos:</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Linguagens de Front-End</strong> como HTML5, Javascript e Typescript, CSS3 e SCSS;</li>
            <li class="list-group-item">
              <strong>Linguagens de Back-end</strong> como PHP5.6, 7 e 7.1, Python 3.6 e Ruby;</li>
            <li class="list-group-item">
              <strong>Bancos de dados relacionais</strong> SQL server e Mysql;</li>
            <li class="list-group-item">
              <strong>Bibliotecas e Frameworks de linguagem</strong>, como Slim 3, Angular 6, Bootatrap 4, Jquery e outros;</li>
            <li class="list-group-item">
              <strong>Metodologias</strong> como Agile, Scrum e Pomodoro.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>