
.circle{
    height: 125px;
    width: 125px;
    background-color: #fff;
    border-radius: 100px;
    padding:5%;
    box-sizing: border-box;
    img{
        min-width: 70px;
        min-height: 70px;
    }
}